extends layout

block content
    div.container 

        h1= `Server Error`
        h2= `Error status code: ${err.status} - Server Error`
        p.error-p= `Human friendly error message: ${err.message}`

        div.not-found-stack
            hr
            pre #{err.stack}

            nav.nav
                a(href='/')
                    span &larr;
                    |  Back
